.bestBookmakersList{
  &__item{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;

    &--image{
      //flex-basis: 31%;
      margin-right: 16px;
    }

    &--infoWrapper{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: start;
      flex: 1;
    }

    &--title{
      h4{
        margin-top: 0;
        margin-bottom: 6px;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
      }
      span{
        font-weight: normal;
        font-size: 15px;
        line-height: 15px;
        color: #9a9d9f;
      }
    }

    &--link{
      flex-basis: 100%;

      .button{
        display: block;
        text-align: center;
      }
    }
  }


}
