.button{
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
  border: 1px solid map_get($theme-colors, 'lightText');
  border-radius: 3px;
  padding: 6px 12px 5px;
  display: inline-block;
  transition: all ease .3s;
  background: none;
  outline: none;

  &__colored{
    color: #fff;
  }

  &__search{
    color: #fff;
    background-color: map_get($theme-colors, 'accentColor');
    border-color: map_get($theme-colors, 'accentColor');
    font-size: 21px;
    padding: 5px 3px 3px;


    &:hover{
      color: map_get($theme-colors, 'accentColor');
      background-color: transparent;
    }
  }

  &__grey{
    background: #E3E4E5;
    border: 1px solid #B2B7BA;
    box-sizing: border-box;
    border-radius: 5px;
    color: #3F4143;
    font-size: 16px;
    line-height: 19px;
    padding: 8px 20px;

    &:hover:not([disabled]), &.active{
      background: rgba(30, 136, 229, 0.1);
      border: 1px solid #1E88E5;
    }
  }

  &__transparent{
    border: none;
  }

  i{
    font-size: 18px;
  }
  img{
    max-height: 16px;
  }

  &[disabled]{
    cursor: not-allowed;
    opacity: .5;
  }

  &.youtube{
    background-color: map_get($theme-colors, 'youtubeRed');
    border-color: map_get($theme-colors, 'youtubeRed');

    &:hover{
      background-color: transparent;
      color: map_get($theme-colors, 'youtubeRed');
    }
  }

  &.blue{
    background-color: map_get($theme-colors, 'blueColor');
    border-color: map_get($theme-colors, 'blueColor');

    &:hover{
      background-color: transparent;
      color: map_get($theme-colors, 'blueColor');
    }
  }

  &.red{
    background-color: map_get($theme-colors, 'redColor');
    border-color: map_get($theme-colors, 'redColor');

    &:hover{
      background-color: transparent;
      color: map_get($theme-colors, 'redColor');
    }
  }

  &.blueBorder{
    border-color: map_get($theme-colors, 'blueColor');

    &:hover{
      color: map_get($theme-colors, 'blueColor');
    }
  }

  &.green{
    background-color: map_get($theme-colors, 'accentColor');
    border-color: map_get($theme-colors, 'accentColor');

    &:hover{
      background-color: transparent;
      color: map_get($theme-colors, 'accentColor');
    }
  }
}
