.itemRating{
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  background: #FAAB00;
  border-radius: 3px;
  padding: 6px 7px 3px 4px;
  display: inline-block;
  transition: all ease .3s;
}
