.menuHamburger{
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 10px 11px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  outline: none;

  &, &__box i{
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: 75ms;
  }

  &__box{
    position: relative;
    display: block;
    width: 24px;
    height: 15px;

    i{
      top: 50%;
      display: block;
      margin-top: -1px;

      &, &::before, &::after{
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        transition: transform ease .15s;
        border-radius: 4px;
        background-color: #9A9D9F;
      }

      &::before, &::after{
        content: '';
      }

      &::before{
        top: -7px;
        transition: top 75ms ease .12s,opacity 75ms ease;
      }

      &::after{
        bottom: -7px;
        transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
      }
    }
  }

  &.is-active{
    .menuHamburger{
      &__box{
        i{
          transition-delay: .12s;
          transition-timing-function: cubic-bezier(.215,.61,.355,1);
          transform: rotate(45deg);

          &::before{
            top: 0;
            transition: top 75ms ease,opacity 75ms ease .12s;
            opacity: 0;
          }
          &::after{
            bottom: 0;
            transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}
