@mixin container{
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (min-width: map_get($breakpoints, 'sm')) {
    width: 540px;
  }

  @media screen and (min-width: map_get($breakpoints, 'md')) {
    width: 720px;
  }

  @media screen and (min-width: map_get($breakpoints, 'lg')) {
    width: 750px;
  }

  @media screen and (min-width: map_get($breakpoints, 'xl')) {
    width: 1140px;
  }
}
