body{
  font: normal normal 16px / 24px 'PF DinDisplay Pro', sans-serif;
  //background-color: map_get($theme-colors, 'bodyBg');
  color: map_get($theme-colors, 'bodyText');
}

a{
  text-decoration: none;
  color: map_get($theme-colors, 'bodyText');
}

img{
  max-width: 100%;
}

.container{
  @include container;
}
