$theme-colors: (
  bodyBg: #E5E5E5,
  bodyText: #242526,
  menuText: #212121,
  lightText: #9A9D9F,
  lightItems: #999999,
  youtubeRed: #CD201F,
  accentColor: #2F8F41,
  blueColor: #1E88E5,
  redColor: #F83030,

);

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
