.header{
  &__top{
    color: #fff;
    background-color: #121212;
    padding: 10px 0;
    font-size: 14px;
    line-height: 18px;

    display: none;
    @media screen and (min-width: map_get($breakpoints, 'md')) {
      display: block;
    }

    .container{
      display: flex;
      justify-content: space-between;
    }

    a{
      color: #fff;
    }

    &--left{
      a:not(:last-child){
        margin-right: 5px;
      }
    }

    &--right{
      display: flex;
      flex-wrap: nowrap;

      span{
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin-right: 15px;
      }
    }
  }

  &__mid{
    padding: 15px 0;

    .container{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;

      @media screen and (min-width: map_get($breakpoints, 'md')) {
        justify-content: center;
      }
      @media screen and (min-width: map_get($breakpoints, 'xl')) {
        justify-content: space-between;
      }
    }

    &--logo{
      flex-basis: 30%;
      text-align: center;
      min-width: 111px;

      a{
        max-width: 225px;
        margin: 0 auto;
      }

      @media screen and (min-width: map_get($breakpoints, 'md')) {
        flex-basis: 100%;
        margin: 18px 0 33px;
      }
      @media screen and (min-width: map_get($breakpoints, 'xl')) {
        flex-basis: 225px;
        margin: 0;
      }

      a{
        display: block;
        line-height: 1;
      }
    }

    &--banner{
      display: none;
      @media screen and (min-width: map_get($breakpoints, 'md')) {
        display: block;
      }
    }

    &--mobileUtils{
      display: block;
      @media screen and (min-width: map_get($breakpoints, 'md')) {
        display: none;
      }
      .button{
        color: #9A9D9F;
        padding: 0 8px 8px;

        i{
          font-size: 21px;
        }


        &:hover, &:active, &:focus, &.active{
          color: #1E88E5;
        }
      }
    }
  }

  &__bottom{
    background: #F5F5F5;
    padding: 0;
    position: relative;
    @media screen and (min-width: map_get($breakpoints, 'md')) {
      border: 1px solid #E5E5E5;
      box-sizing: border-box;
      padding: 6px 0;
    }

    .container{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
    }

    &--utils{
      display: none;
      @media screen and (min-width: map_get($breakpoints, 'md')) {
        display: block;
      }
    }

    &--menu{
      height: 0;
      position: absolute;
      overflow: hidden;
      transition: height ease .3s;
      left: 0;
      right: 0;
      top: 0;

      &.active{
        height: 0;
        //overflow: auto;
        z-index: 5;
        background-color: #fff;
      }


      @media screen and (min-width: map_get($breakpoints, 'md')) {
        height: auto;
        position: relative;
        overflow: auto;
      }

      ul{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        @media screen and (min-width: map_get($breakpoints, 'md')) {
          flex-flow: row nowrap;
        }

        justify-content: space-between;

        padding: 0;
        margin: 0;
      }

      li{
        list-style-type: none;
        padding: 0 13px;

        @media screen and (min-width: map_get($breakpoints, 'md')) {
          &:first-child {
            padding-left: 0;
          }
        }

        &:last-child {
          padding-bottom: 20px;
          @media screen and (min-width: map_get($breakpoints, 'md')) {
            display: none;
            padding-right: 0;
            padding-bottom: 0;
          }
          @media screen and (min-width: map_get($breakpoints, 'xl')) {
            display: block;
            padding-right: 13px;
          }
        }
      }

      a{
        color: map_get($theme-colors, 'menuText');
        font-size: 15px;
        line-height: 18px;
        font-weight: bold;
        letter-spacing: 0.005em;
        text-transform: uppercase;
      }
    }

    &--utils{
      display: none;
      @media screen and (min-width: map_get($breakpoints, 'md')) {
        display: flex;
        justify-content: space-between;
      }

      .button{
        margin: 0 4px;
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }

        &.gplay{
          display: none;

          @media screen and (min-width: map_get($breakpoints, 'xl')) {
            display: block;
          }
        }
      }

    }
  }

}
