&__filterTags{
  background-color: #F5F5F5;
  margin-bottom: 33px;
  position: relative;

  @media screen and (min-width: 1100px) {
    padding: 15px 0;
  }

  &::after{
    content: '';
    background: linear-gradient(270deg, #B2B7BA 0%, rgba(196, 196, 196, 0) 100%);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-left: 44px;

    @media screen and (min-width: map_get($breakpoints, 'lg')) {
      content: none;
    }
  }

  &--scrollContainer{
    display: flex;
    //width: auto;
  }

  .container{
    overflow-x: auto;

    width: 100%;
    padding: 0;
    @media screen and (min-width: 1100px) {
      width: 960px;
      padding: 0 15px;
      justify-content: center;
      overflow-x: unset;
    }
  }

  .button{
    border-radius: 0;
    white-space: nowrap;


    @media screen and (min-width: 1100px) {
      margin: 0 7.5px;

      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
    }

  }

}
