&__article{
  background: #FAFAFA;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;

  ul{
    list-style-type: none;
  }

  &:not(:last-child){
    margin-bottom: 30px;
  }

  &--infoWrapperBlock{
    display: flex;
    flex-flow: column nowrap;
  }

  &--largeImage{
    display: none;
    @media screen and (min-width: map_get($breakpoints, 'lg')) {
      display: flex;
      flex-flow: column nowrap;
      flex-basis: 30.67%;
    }
    position: relative;

    img{
      z-index: 1;
    }

    &Labels{
      z-index: 2;
      background-color: rgba(6, 8, 9, 1);
      position: relative;
      color: #fff;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-grow: 2;

      ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }

      li{
        flex-basis: 100%;
        text-align: center;
        padding: 5px 15px;

        span{
          display: block;
          text-align: center;
          font-size: 14px;
          line-height: 23px;
          border: 1px solid #FFFFFF;
          box-sizing: border-box;
          border-radius: 3px;
        }
      }

      &::before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100%;
        padding-bottom: 159px;
        background: linear-gradient(180deg, rgba(6, 8, 9, 0) 75%, #000000 99.92%, #060809 99.93%, rgba(204, 204, 204, 0.686417) 99.94%, rgba(177, 177, 177, 0.729419) 99.95%, #060809 99.96%, rgba(0, 0, 0, 0.533801) 99.97%, #060809 99.98%);
      }
    }
  }

  &--smallImage{
    flex-basis: 60px;
    flex-grow: 1;
    //flex-shrink: 0;
    @media screen and (min-width: map_get($breakpoints, 'lg')) {
      display: none;
    }
  }

  &--titleBlock{
    padding: 10px 15px 15px;

    @media screen and (min-width: map_get($breakpoints, 'md')) {
      padding: 10px 15px 15px 31px;
    }

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    ul {
      margin-top: 0;
      padding: 0;
    }

    h3{
      font-weight: bold;

      font-size: 18px;
      line-height: 22px;
      margin: 0;

      flex-basis: 160px;
      flex-grow: 2;
      padding-left: 15px;
      text-align: center;

      @media screen and (min-width: map_get($breakpoints, 'lg')) {
        font-weight: normal;
        flex-basis: auto;
        flex-grow: 1;
        padding-left: 0;
        text-align: left;
      }
    }

    &Labels{
      flex-basis: 100%;
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 10px;
      padding: 0;

      &-item{
        text-align: center;
        border-radius: 3px;
        font-size: 14px;
        line-height: 25px;
        font-weight: bold;
        color: #fff;
        flex-basis: 133px;
        padding-left: 15px;
        padding-right: 15px;

        background: map_get($theme-colors, 'blueColor');
        @media screen and (min-width: map_get($breakpoints, 'lg')) {
          background: #4CAF50;
        }

      }
    }
  }

  &--informationBlock{
    box-sizing: border-box;
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    padding: 10px 15px 15px;

    @media screen and (min-width: map_get($breakpoints, 'md')) {
      padding: 10px 15px 16px 31px;
    }


    ul{
      margin: 0;
      padding: 0;
    }

    &List{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      position: relative;

      &Item{
        flex-basis: calc(50% - 7px);
        margin-bottom: 15px;

        span{
          display: block;
        }

        &-title{
          font-size: 14px;
        }
        &-value{
          font-size: 18px;
          font-weight: bold;
        }

        &:nth-child(3), &:nth-child(6){
          display: none;
        }

        @media screen and (min-width: map_get($breakpoints, 'md')) {
          flex-basis: 33%;
          &:nth-child(3), &:nth-child(6){
            display: block;
          }
        }
      }

      @media screen and (min-width: map_get($breakpoints, 'md')) {
        &::after {
          content: '';
          margin-bottom: 10px;
          position: relative;
          width: 100%;
        }
      }
    }

    &Buttons{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      li{
        flex-basis: 145px;

        &:nth-child(1), &:nth-child(2){
          display: none;
        }

        &:nth-child(3){
          flex-basis: 100%;
        }

        @media screen and (min-width: map_get($breakpoints, 'md')) {
          &:nth-child(1), &:nth-child(2){
            display: block;
          }
          &:nth-child(3){
            flex-basis: 145px;
          }
        }
      }
      .button{
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        display: block;
        text-align: center;
      }
    }
  }

  &--infoWrapperBlock{
    border: 1px solid #E0E0E0;
    border-bottom: 0;
    flex: 1 0;

    @media screen and (min-width: map_get($breakpoints, 'lg')) {
      flex: unset;
      flex-basis: 69%;
      border-left: 0;
    }
  }

  &--accordeon{
    flex-basis: 100%;
    border: 1px solid #e0e0e0;
    padding: 7px 15px 11px;

    &-trigger{
      display: inline-block;
      *display: inline;
      *zoom: 1;
      font-size: 16px;
      line-height: 28px;
      border-bottom: 1px dashed #2F8F41;
    }

    &-content{
      overflow: hidden;
      transition: all ease .3s;
      height: 0;
      opacity: 1;

      &.hidden{
        height: 0;
        opacity: 0;
      }
    }
  }
}
