&__main{
  flex-basis: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin-bottom: 30px;


  @media screen and (min-width: map_get($breakpoints, 'xl')) {
    flex-basis: 65.8%;
    margin-right: 29px;
    //max-width: 751px;
  }
}
