.rewiewsList{
  &__item{
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    padding: 16px 10px 19px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child){
      margin-bottom: 10px;
    }


    &--comment{
      &erName{
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
      }

      &Text{
        margin: 12px 0 14px;

        p, a{
          margin: 0;
          display: inline;
        }

        a{
          color: #1E88E5;
          text-decoration: underline;
        }
      }

      &Meta{
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #999;
      }
    }
  }
}
