&__titleSection{
  text-align: center;
  background: url('../images/backgrounds/archive.bonus.background.jpg') center / cover no-repeat;
  color: #fff;
  padding: 20px 0 30px;
  position: relative;

  h1{
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    margin: 0 0 20px;
  }

  &--description{
    line-height: 26px;

    max-height: 130px;
    overflow-y: auto;

    @media screen and (min-width: map_get($breakpoints, 'md')) {
      max-height: initial;
      overflow-y: initial;
    }

    p{
      margin: 0;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 3px;
      text-align: center;
    }
  }

  &::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 50px;
    background: linear-gradient(180deg, rgba(5, 7, 8, 0.319421) 0%, rgba(6, 8, 9, 0.24) 0.01%, #060809 70.31%, #000000 99.92%, #060809 99.93%, rgba(204, 204, 204, 0.686417) 99.94%, rgba(177, 177, 177, 0.729419) 99.95%, #060809 99.96%, rgba(0, 0, 0, 0.533801) 99.97%);

    @media screen and (min-width: map_get($breakpoints, 'md')) {
      content: none;
    }
  }
}
