&__widget{
  margin-bottom: 30px;
  &--title{
    color: #fff;
    border-bottom: 2px solid #000;

    h3{
      display: inline-block;
      font-weight: 900;
      font-size: 13px;
      line-height: 35px;
      padding: 1px 20px;
      background-color: #000;
      margin: 0;
      text-transform: uppercase;
    }
  }

  &--body{
    background-color: #fafafa;
    padding: 20px 18px 20px 20px;
  }

  &--content{
    &:not(.noborder){
      border-bottom: 1px solid #E0E0E0;
    }
  }

  &--footer{
    padding-top: 15px;
    text-align: center;

    a{
      display: block;
      font-weight: bold;

      &, i{
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}
