.gamblingtest_metaboxComponent{
  padding: 0 15px;
  display: flex;
  flex-flow: column nowrap;
  &__table{
    width: 100%;
    &--item{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 8px 15px;
      box-sizing: border-box;

      label{
        flex-basis: 100%;
      }

      input, select, .choices{
        flex-basis: 48%;
      }
    }
  }
}
